.container{
    border:1px solid white;
}

.image{
    display:inline-block;
    border: 1px solid white;
    height: 718px;
}

.image img{
    display: block;
    width:73%;
    height: 50%;
}

.cat6{
    width: 700px;
}

.changepassword_container{
    width: 500px;
    padding: 2rem 1rem;
    margin: 50px auto;
    display: inline-block;
    position: absolute;
    align-items: center;
    top:5%;
    right: 16%;
    border-radius: 10px;
    text-align: center;
}

h1{
    font-size: 2rem;
    color: #07001f;
    margin-bottom: 1.5rem;
}

form .changepassword_input{
    width: 400px;
    outline: none;
    padding: 12px 25px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 17px;
    border: 1px solid #fff;
    background-color: #e4e4e4;
}

form .btn_changepassword{
    font-size: 20px;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    width: 400px;
    outline: none;
    background-color: #006FFF;
    color: white;
    cursor: pointer;
    border: none;
}

.ReCAPTCHA{
    align-items: center;
    margin-top: 30px;
    padding-left: 90px;
 }

form .btn_changepassword:hover{
    background-color: rgba(17,107,143,0.877);
}

form .changepassword_input:focus{
    border: 1px solid rgb(192,192,192);
}

.errorMsg{
    color: red;
}

.password_eye{
    position: absolute;
    top: 30%;
    left: 83%;
    cursor: pointer;
}

.newpassword_eye{
    position: absolute;
    top: 42%;
    left: 83%;
}

.confirmnewpassword_eye{
    position: absolute;
    top: 53%;
    left: 83%;
}

@media screen and (max-width: 1200px){
    .image{
         display: none;
    }
 }




