ul{
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    background-color: #5fcf6adf;
}

ul .logo{
    float: left;
}

ul .logo img{
    width: 75px;
}

ul .title{
    float: left;
    position: absolute;
    left: 75px;
    top: 7px;
    font-size: 35px;
    color: white;
    font-weight: 500;
}

ul .personinfo{
    float: right;
    cursor: pointer;
}

ul .personinfo .circleuser{
    height: 22px;
    color: white;
    position: absolute;
    right: 90px;
}

ul .personinfo .username{
    font-size: 20px;  
    font-weight: 500;
    color: white;
}

ul .personinfo .angledown{
    color: white;
    position: absolute;
    top: 13px;
    right: 30px
}

.memberSearchInput{
    margin-top: 20px;
    margin-left: 295px;
}

.memberSearchInput input{
    width: 400px;
    outline: none;
    padding: 12px 25px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 17px;
    border: 1px solid #fff;
    background-color: #e4e4e4;
}

.memberSearchInput input:focus{
    border: 1px solid rgb(192,192,192);
}

.cat{
    display: inline-block;
    margin-left: 30px;
    width: 313px;
    font-size: 15px;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
    background-color: #5fcf6adf;
    border-radius: 10px;
    color: black;
    font-weight: 500;
}

.cat tr .cat_image{
    padding: 7px 1px;
    width: 100px;
}

.cat tr .attribute{
    padding: 7px 7px;
    width: 100px;
}

.cat tr .data{
    padding: 7px 7px;
    width: 100px;
}

.cat tr button{
    background-color: #5fcf6adf;
    border: none;
    text-decoration: none;
}

.cat tr .edit{
    background-color: #5fcf6adf;
    border: none;
    text-decoration: none;
    margin-right: 10px;
}

.cat tr .delete{
    background-color: #5fcf6adf;
    border: none;
    text-decoration: none;
    margin-left: 10px;
}


.cat tr .edit .penToSquare{
    height: 22px;
    background-color: #5fcf6adf;
    color: rgb(112, 58, 141);
    margin-left: 10px;
}

.cat tr .delete .trashcan{
    height: 22px;
    background-color: #5fcf6adf;
    color: rgb(112, 58, 141);
    margin-right: 10px;
    cursor: pointer;
}

.cat .action{
    float: right;
    margin-right: 13px;
    margin-bottom: 7px;
}

.add{
    position: absolute;
    top: 85px;
    right: 30px;
    z-index: -1;
    cursor: pointer;
}

.add button{
    padding: 10px 0;
    border-radius: 20px;
    width: 100px;
    outline: none;
    background-color: #006FFF;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 15px;
    font-weight: 500;
}

.dropdown-menu{
    float: right;
    width: 240px;
    background-color: #5fcf6adf;
}

.homelogo{
    position: absolute;
    right: 16%;
    color: white;
    width: 90px;
    height: 60px;
}

.dropdownItem{
   margin: 18px 20px;
}

.dropdownicon{
    margin-left: 5px;
    margin-right: 28px;
    color: white;
}

.dropdowntext{
    margin-left: 25px;
}

.dropdownlink{
    text-decoration: none;
    color: white;
}

.dropdowntext:hover{
    font-weight: 500;
}

.homelogo:hover{
    background-color: #2eb13bdf;
}

.homeicon{
    margin-top: 13px;
    margin-left: 28px;
}

.dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.3s ease;
}

.dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.5s ease;
}

.bookmarkOicon_action{
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
}

.btn_bookmarkOicon{
    cursor: pointer;
    background-color: #5fcf6adf;
}

.homeicon{
    margin-right: 10px;
}

.btn_text{
    margin-left: 10px;
    font-size: 17px;
}

@media screen and (max-width: 800px){
    .add{
        position: absolute;
        top: 155px;
        left: 320px;
    }

    .cat{
        margin-top: 80px;
    }
 }

 @media screen and (max-width: 600px){
    .add{
        left: 200px;
    }
 }